/* #region Common */

:root {
    --bsf-darker: rgba(44, 62, 80, 1);
    --bsf-dark: rgba(58, 84, 109, 1);
    --bsf-primary: rgba(26, 188, 156, 1);
    --bsf-lighter: rgba(255, 255, 255, 1);
}

.debug * {
    border: 1px dashed black;
}

/* #endregion Common */

/* #region Header */

.site-header {
    background-color: var(--bsf-dark);

    .buttons-header {
        display: none;
        /* DISPLAY ONLY IN MEDIUM AND LARGE BREAKPOINS */
    }
}

/* #endregion Header */